
.hero {
  margin-bottom:20px;
  padding:10px;
  font-size:2rem;
  i {
    display:inline-block;
  }
}

ul.list {
  p {
    color: rgb(255, 228, 72);
    strong {
      color:rgb(255, 228, 72);
    }
  }

}

nav {
  margin-bottom:10px;
}

.todoListItem {
  padding: 10px;
  border-radius:10px;
  margin-bottom:5px;

  a {
    margin:5px;
    cursor: pointer;
  }
}
