
.hero {
  margin-bottom:20px;
  padding:10px;
  font-size:2rem;
  i {
    display:inline-block;
  }
}

nav {
  margin-bottom:10px;
}

.todoListItem {
  padding: 10px;
  border-radius:10px;
  margin-bottom:5px;

  a {
    margin:5px;
    cursor: pointer;
  }
}
